// Replace the contents of this file with the entry point
// of your package implementation.
// - - - - - - - - - - - - - - - - - - - - - - - - - - - -

export default function main ()
{
	return 'Hello World!';
}
